/*
    position: static | relative | absolute | fixed | sticky

    Propiedades offset
    - top
    - left
    - right
    - bottom
*/

.container{
    outline: 1px solid;
    height: 400px;
}

.p-2 {
    background: chartreuse;
    opacity: 0.5;
    position: relative;
    top: 50%;
    left: 50%;
}